.guests_container {
    width: 30rem;
    height: 15rem;
    background: -webkit-linear-gradient(#00DBDE, #FC00FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.guests{
    font-size: 5rem;
    font-weight: 400;
}

.guests_header{
    font-size: 3rem;
}